build/
build2/
debugbuild/
buildopt/
optbuild/
mfembuild/

.cache/

.vscode/

*.old

*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.run.xml
*.pyg*
*.synctex.gz
*SAVE-ERROR
_minted-main/

*~

*.png

compile_commands.json

examples/python/mgmc/

**/*/__pycache__/